 <meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="https://kit.fontawesome.com/f6d278026b.js" crossorigin="anonymous"></script>
<div class="container">
<header>
  <div class="content">
    <div class="image">
      <img src="/assets/logo.png" alt="" class="top">
    </div>
  <div class="navigation">
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">Portfolio</li>
        <li class="nav-list-item">Feature</li>
        <li class="nav-list-item">Profile</li>
        <li class="nav-list-item">Contact</li>
      </ul>
    </nav>
  </div>
  </div>
</header>
  <div class="main-visual">
    <div class="main-visual-content">
      <h1 class="main-visual-heading">Lorem Ipsum</h1>
      <p class="main-visual-text">simply dummy text of the printing</p>
    </div>
  </div>

  <main>
    <div class="portfolio">
      <h3 class="main-heading">Portfolio</h3>
      <p class="main-text">
        It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    <div class="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
      <div class="image6"></div>
    </div>
    </div>
  </main>

  <div class="contents2">
    <div class="feature">
      <h3 class="content2-heading">Feature</h3>
      <p class="content2-text">
        It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
      <div class="boxes">
      <div class="box1">
        <i class="fas fa-asterisk fa-4x"></i>
        <h3 class="box1-heading">Strength1</h5>
        <p class="box1-text">
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words, consectetur
        </p>
      </div>

      <div class="box2">
        <i class="fas fa-desktop fa-4x"></i>
        <h3 class="box2-heading">Strength2</h5>
        <p class="box2-text">
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words, consectetur
        </p>
      </div>

      <div class="box3">
        <i class="fas fa-cogs fa-4x"></i>
        <h3 class="box3-heading">Strength3</h5>
        <p class="box3-text">
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
          Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words, consectetur
        </p>
      </div>
      </div>
    </div>
  </div>

 <div class="content3">
   <div class="profile">
     <h3 class="content3-heading">Profile</h3>
     <p class="content3-text">
       It is a long established fact that a reader will be distracted by the readable<br>
      content of a page when looking at its layout.<br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
     </p>
     <div class="profile-text">
       <div class="image-field">
       <img src="/assets/my-icon.jpg" alt="" class="image2">
       </div>
       <div class="info">
       <h3 class="name">MyName</h3>
       <p class="nameinfo">
         Contrary to popular belief, Lorem Ipsum is not simply random<br>
         text. It has roots in a piece of classical Latin literature from 45<br>
         BC, making it over 2000 years old. Richard McClintock, a Latin<br>
         professor at Hampden-Sydney College in Virginia, looked up<br>
         one of the more obscure Latin words, consectetur<br>
       </p>
       <h3 class="skills">MySkills</h3>
       <p class="skillsinfo">
         HTML/CSS,JavaScript,JQuery,PhotoShop
       </p>
     </div>
     </div>
   </div>
 </div>

 <div class="content4">
   <div class="contact">
     <h3 class="content4-heading">Contact</h3>
     <p class="content4-text">
       It is a long established fact that a reader will be distracted by the readable<br>
       content of a page when looking at its layout.<br>
       The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
     </p>
     <div class="contact-info">
       <div class="mail-tel">
         <h3 class="mail">Mail</h3>
           <a href="mailto:xxx@xxx.com">xxx@xxx.com</a>
           <h3 class="tel">Tel</h3>
           <a href="tel:000-0000-0000">000-0000-0000</a>
       </div>
       <div class="sns">
         <h3 class="sns-heading">SNS</h3>
         <i class="fab fa-facebook-f fa-3x"></i>
         <i class="fab fa-twitter fa-3x"></i>
         <i class="fab fa-instagram fa-3x"></i>
       </div>
     </div>
   </div>
 </div>

 <footer>
   <p class="copyright">©︎ 2017 WebCamp</p>
 </footer>