<header>
  <div class="content">
    <div class="image">
      <img src="/assets/logo.png" alt="">
    </div>
  <div class="navigation">
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">Portfolio</li>
        <li class="nav-list-item">Feature</li>
        <li class="nav-list-item">Profile</li>
        <li class="nav-list-item">Contact</li>
      </ul>
    </nav>
  </div>
  </div>
</header>
  <div class="main-visual">
    <div class="main-visual-content">
      <h1 class="main-visual-heading">Lorem Ipsum</h1>
      <p class="main-visual-text">simply dummy text of the printing</p>
    </div>
  </div>

  <main>
    <div class="portfolio">
      <h3 class="main-hedding">Portfolio</h3>
      <p class="main-text">
        It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
    </div>
  </main>